---
import Layout from '@layouts/Layout.astro'

const { slug } = Astro.params;

let res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?slug=${slug}&_embed`)
let post = await res.json()
---

<Layout title={post[0].title.rendered} description={post[0].excerpt.rendered} og_image={post[0]._embedded["wp:featuredmedia"][0].source_url} >
	<h2 class="block relative text-2xl mt-12 text-center text-teal-600 p-4 mt-24 font-extrabold uppercase">
		{post[0].title.rendered}
	</h2>
	<div class="grid place-items-center mt-6 mb-24 p-4">
		<div class="prose max-w-4xl grid place-items-center place-content-center" set:html={post[0].content.rendered}></div>
	</div>
</Layout>
