---
import Layout from '@layouts/Layout.astro'

const { slug } = Astro.params;

let res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?slug=${slug}&_embed`)
let post = await res.json()
---

<Layout title={post[0].title.rendered} description="">
	<h2 class="block relative text-4xl mt-12 text-center font-bold p-4 mt-24">
		{post[0].title.rendered}
	</h2>
	<div class="grid place-items-center mt-6 mb-24 p-4">
		<div class="prose prose-lg max-w-4xl" set:html={post[0].content.rendered}></div>
	</div>
</Layout>
