---
import Layout from "@layouts/Layout.astro"

//fetch projects
const res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?categories=1&_embed&per_page=2&sort=desc`)
const data = await res.json()
---

<Layout title="Africa Conservancy Foundation" description="The Africa Conservancy Foundation is a visionary organization, that is courageous and forthright when it comes to keeping and preserving wildlife in the regions of Africa.">
	<div class="swiper-container !overflow-hidden">
  	<div class="swiper-wrapper">
    	<div class="swiper-slide">
        <div class="bg-cover sm:-mt-16 xl:mt-0 h-[30rem] relative" style={`background-image:url('/images/elephant.jpg')`}>
					<div class="h-full bg-teal-600 bg-opacity-30"></div>
					<div class="grid place-items-center place-content-center h-full">
						<div class="absolute grid gap-6 px-2 pt-12 top-16 text-white overflow-x-hidden w-full">
							<div class="p-2 md:p-20 lg:pt-0 lg:pl-12 rounded-lg w-full">
								<h1 class="text-2xl md:text-3xl lg:text-5xl font-bold uppercase" data-swiper-parallax="-10000">
				    			Our Vision
				    		</h1>
								<div class="flex" data-swiper-parallax="-8000">
									<div class="sm:max-w-4xl">
										<p class="md:text-2xl mt-6">
						    			We are an authentic African organization that acquires critical wildlife habitats at risk of conversion, degradation or fragmentation in Africa and conserves it for posterity.
						    		</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	    </div>
	    <div class="swiper-slide">
        <div class="bg-cover sm:-mt-16 xl:mt-0 h-[30rem] relative" style={`background-image:url('/images/giraffe.jpg')`}>
					<div class="h-full bg-teal-600 bg-opacity-50"></div>
					<div class="grid place-items-center place-content-center h-full sm:ml-16">
						<div class="absolute grid sm:grid-cols-2 px-2 sm:pt-12 top-10 sm:top-20 overflow-x-hidden w-full">
							<div class="p-2 md:p-20 lg:p-4 lg:pl-2 w-full bg-gray-600 bg-opacity-60">
								<h2 class="text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-teal-600" data-swiper-parallax="-10000">
				    			Our Aims
				    		</h2>
								<div class="flex" data-swiper-parallax="-8000">
									<div class="sm:max-w-4xl">
										<p class="md:text-2xl mt-6">
						    			To purchase and conserve important habitats that benefits wildlife and communities.<br><br>
						    			To create a community of committed supporters.
						    		</p>
									</div>
								</div>
							</div>
							<div class="p-2 md:p-20 lg:p-4 lg:pl-12 w-full bg-teal-600 bg-opacity-50 text-white">
								<div class="flex flex-col justify-center">
									<h2 class="text-2xl md:text-3xl lg:text-4xl uppercase">
										Become a Supporter
									</h2>
									<a href="/contact-us" class="block mt-12">
										<button class="bg-brown-600 p-2">
											Contact Us
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
	    </div>
	  </div>
	</div>
  <!--<div class="swiper-pagination !relative !bottom-0 -mt-12"></div>-->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />
	<script>
	  document.addEventListener('DOMContentLoaded', function () {
	    new Swiper('.swiper-container', {
	      loop: true,
	      slidesPerView: 1,
	      autoplay: {
	        delay: 9000,
	      },
	      pagination: {
	        el: '.swiper-pagination',
	        clickable: true,
	      },
	      parallax:true,
			  effect: 'fade',
			  fadeEffect: {
			    crossFade: true
			  },
	      keyboard:{
	      	enabled:true
	      },
	      speed:1000
	    })
	  })
	</script>
	<section class="container mx-auto mt-4 rounded-lg">
		<div class="grid sm:grid-cols-2 gap-2 sm:gap-0 sm:divide-x place-content-center place-items-center p-4 sm:p-0">
			<div class="mt-4 bg-white shadow-md p-4">
				<h2 class="uppercase text-teal-600 text-2xl font-bold">
					Latest News
				</h2>
				<p class="block mt-6 text-lg text-brown-600">
					For the latest news, happenings and announcements showcasing ACF’s work, please check out our news page. 
				</p>
				<a href="/news" class="block mt-6">
					<button class="bg-teal-600 text-white p-2">
						Read More
					</button>
				</a>
			</div>
			<div class="mt-4 md:pl-4 bg-white shadow-md p-4">
				<h2 class="uppercase text-teal-600 text-2xl font-bold">
					Contact Us
				</h2>
				<p class="block mt-6 text-lg text-brown-600">
					Please reach out if you have any questions or would like more information. 
				</p>
				<a href="/contact-us" class="block mt-6">
					<button class="bg-teal-600 text-white p-2">
						Contact Us
					</button>
				</a>
			</div>
		</div>
	</section>
	<section class="container mx-auto mt-4">
		<h2 class="text-2xl mt-4 text-center text-teal-600 font-bold uppercase py-4">
			Our Achievements
		</h2>
		<div class="grid md:grid-cols-3 gap-6 p-4 sm:p-0">
			<article class="flex flex-col bg-white shadow-md rounded-lg">
				<img alt="" class="object-cover w-full h-52" src="/images/directors.jpg">
				<div class="flex flex-col flex-1 p-6">
					<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">
						A board of directors has been established
					</h3>
				</div>
			</article>
			<article class="flex flex-col bg-white shadow-md rounded-lg">
				<img alt="" class="object-cover w-full h-52" src="/images/wildlife.jpg">
				<div class="flex flex-col flex-1 p-6">
					<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">
						The Wildlife Habitat Trust has been established
					</h3>
				</div>
			</article>
			<article class="flex flex-col bg-white shadow-md rounded-lg">
				<img alt="" class="object-cover w-full h-52" src="/images/land.jpg">
				<div class="flex flex-col flex-1 p-6">
					<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">
						ACF has successfully gained support to purchase land
					</h3>
				</div>
			</article>
			<article class="flex flex-col bg-white shadow-md rounded-lg">
				<img alt="" class="object-cover w-full h-52" src="/images/maasai mara.jpg">
				<div class="flex flex-col flex-1 p-6">
					<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">
						We own 12 Acres of Land in Maasai Mara
					</h3>
				</div>
			</article>
			<article class="flex flex-col bg-white shadow-md rounded-lg">
				<img alt="" class="object-cover w-full h-52" src="/images/protection.jpg">
				<div class="flex flex-col flex-1 p-6">
					<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">
						We established the very first environmental easement &amp; wildlife protection order in Kenya
					</h3>
				</div>
			</article>
			<article class="flex flex-col bg-white shadow-md rounded-lg">
				<img alt="" class="object-cover w-full h-52" src="https://db1.africa-conservancy.org/wp-content/uploads/2023/01/WildLifeDirect-logo.png">
				<div class="flex flex-col flex-1 p-6">
					<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">
						We established a partnership agreement with the Wildlife Direct, WLD
					</h3>
				</div>
			</article>
		</div>
	</section>
	<section class="container mx-auto mt-4 p-3 sm:p-0 mb-4">
		<h2 class="text-2xl mt-4 text-center text-teal-600 font-bold uppercase py-4">
			Our Projects
		</h2>
		{
			data.map((item) => (
				<div class="grid grid-cols-1 sm:gap-8 lg:grid-cols-2 lg:gap-0 my-4 bg-white shadow-md rounded p-4 sm:p-0">
		      <div class="relative h-72 overflow-hidden sm:h-80 lg:order-first lg:h-full">
		        <img alt={item.title.rendered} src={item._embedded["wp:featuredmedia"][0].source_url} class="absolute inset-0 object-cover w-full h-72" />
		      </div>

		      <div class="text-brown-600 lg:pl-4 my-4">
		        <h2 class="text-xl font-bold sm:text-2xl">
		        	{item.title.rendered}
		        </h2>

		        <div class="prose mt-4" set:html={item.excerpt.rendered}></div>

		        <a href={`/our-projects/${item.slug}`} class="mt-8 inline-flex items-center bg-teal-600 px-8 py-3 text-white">
		          <span class="text-sm font-medium">
		          	Learn More
		          </span>
		        </a>
		      </div>
		    </div>
			))
		}
	</section>
</Layout>
